@model IEnumerable<PizzaBox_Lib.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 
<table class="table">
    <thead>
        <tr>
            <th id="order-id">
                ID
            </th>
            <th id="pizzas">
                Pizzas
            </th>
            <th id="total">
               Total
            </th>
            <th id="user">
               User
            </th>
            <th id="store">
                Store
            </th>
            <th id="order-time">
                Time Ordered
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizzas)
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOrdered)
            </td> 
        </tr>
}
    </tbody>
</table>

<Button class="btn btn-primary" onclick='javascript:history.go(-1)'>Go Back</Button>
