@model PizzaBox_Web.Models.OrderViewModel;


@{
    ViewData["Title"] = "Pan Size";

    OrderViewModel orderView = new OrderViewModel();

    //orderView.Id = ViewBag.StoreId;
    //orderView.Pizzas = 

}

@*<h1>@ViewBag.StoreId</h1>*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Pan Size
                </th>
                <th>
                    Price
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PanSizes)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="CrustType" asp-route-pan="@item.Id" asp-route-store="@ViewBag.StoreId"> @Html.DisplayFor(modelItem => item.Size) </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

<Button class="btn btn-primary" onclick='javascript:history.go(-1)'>Go Back</Button>
 


